/* CSS  Stylesheet */

body{
    background-image:"https://github.com/jmunster03/CSCN315-Front-End-Programming-in-JavaScript/blob/0ed61ac19fe9e716bc66eb21e9d0a95332273c04/images/confetti.png";
}

/*Add a black background color to the top navigation*/
.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0704aa;
    color: white;
  }

h1{
    font-size: 75px;
}